{%extends 'base.html' %}

{%block content%}
    <h2 class="text-center">Aula - {{book.disciplina}}</h2>
    <hr>
    <div class="col-md-6 offset-md-3" >

            <div class="card-body text-center">
                <h5 class="card-title">Descrição</h5>
                <p>{{book.descricao}}</p>
                <hr>
                

            </div>

        </div>
        <div class="offset-md-4">
        <a href="{%url 'home'%}" class="btn btn-secondary">Voltar</a>
        <a href="{%url 'update_book' book.id %}" class="btn btn-primary">Editar</a>
        <a href="{%url 'delete_book' book.id %}" class="btn btn-danger">Excluir</a>
        </div>
    </div>
   
{%endblock%}