<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary";>
    <a class="navbar-brand" href="{%url 'home'%}">Universo escolar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'home'%}">Home <span class="sr-only"></span></a>
        </li>

        {%if user.is_authenticated%}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_aula'%}">Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout'%}">Logout</a>
          </li>

        {%else%}

        <li class="nav-item">
          <a class="nav-link" href="{%url 'register'%}">Cadastro</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'home'%}">Login</a>
        </li>
        {%endif%}
        </li>
      </ul>
    </div>
  </nav>